<component id="" class="flex-grow-1">
    <title>Essential JS 2</title>

    <!-- Essential JS 2 Base's material theme (Dependency Styles) -->
    <xhv-css url="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" />

    <!-- Essential JS 2 Button's material theme (Control Styles) -->
    <xhv-css url="https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css" />

    <!-- Essential JS 2 Base's global script (Dependency Script) -->
    <xhv-script url="https://cdn.syncfusion.com/ej2/ej2-base/dist/global/ej2-base.min.js" mode="run"></xhv-script>

    <!-- Essential JS 2 Button's global xhv-script (Control Script) -->
    <xhv-script url="https://cdn.syncfusion.com/ej2/ej2-buttons/dist/global/ej2-buttons.min.js" mode="run"></xhv-script>

            <div id="element"/>
            <xhv-script url="../views/HomeView/home.view.js" mode="run"></xhv-script>
</component>