@charset "UTF-8";
/*------------------------------------------------------------------
[Master Stylesheet]
Project:	HandleView
++++ Imports ++++
++++ Reset ++++
++++ Basic ++++
-------------------------------------------------------------------*/
/****************************/
/** Imports **/
/****************************/
@import url(./bootstrap.min.css);
@import url(./jquery-ui.css);
@import url(./handleview.css);



/****************************/
/** Reset **/
/****************************/


body {
  color: #5e7d8a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.5;
  background: #fff;
  overflow: auto; 
  height: 100%;}

a:hover, a:active {outline: 0; }

ul {list-style: none; }

