<app-component id="" class="flex-grow-1 d-flex flex-column vh-100">
  <xhv-script
    url="../views/Shared/AppView/app.view.js"
    mode="load"
  ></xhv-script>
  <eventdispatcher></eventdispatcher>
  <div id="container">
    <style>
      body {
        touch-action: none;
      }
    </style>
    <div class="stackblitz-container material">
      <div class="control-section">
        <!-- sample level element  -->
        <div id="wrapper">
          <!--header-section  declaration -->
          <div class="header-section dock-menu" id="header">
            <ul class="header-list">
              <li id="hamburger" class="icon-menu icon list"></li>
              <li class="right-header list support" xhv-eventlistener xhv-event="click" xhv-eventhandler="Reload" xhv-params="home/{'id':1}">Reload</li>
            </ul>
          </div>
          <!--end of header-section  declaration -->
          <!-- sidebar element declaration -->
          <aside id="sidebar-menu" class="dock-menu">
            <div class="main-menu">
              <p class="main-menu-header">Northwind Traders</p>
              <div>
                <!-- <input type="text" placeholder="Search..." class="main-menu-header search-icon list"> -->
                <ul id="main-menubar"></ul>
              </div>
            </div>
          </aside>
          <!-- end of sidebar element -->

          <!-- main-content declaration -->
          <div class="main-content" id="maintext">
            <div class="side-content">
              <xhv-routerport
                name="content"
                class="d-flex flex-column flex-grow-1"
              >
              </xhv-routerport>
            </div>
          </div>
          <!-- end of main-content -->
        </div>
      </div>
    </div>
  </div>
</app-component>
