<app-component id="" class="flex-grow-1 d-flex flex-column vh-100">
    <div class="flex-shrink-0" >    
        <xhv-component xhvtype="topBarComponent" params=""></xhv-component>
    </div>
          
    <div class="flex-grow-1 overflow-auto d-flex flex-column" >
        <xhv-routerport name="content" class="d-flex flex-column flex-grow-1"  >
            
        </xhv-routerport>
    </div>
          
    <div class="flex-shrink-0 bg-dark">
      <div class="text-white" style="height:50px;padding-top:13px;padding-left:20px;">
        Handleview &copy; Copyright 2020
      </div>
    </div>        
</app-component>
